.contacts {
    text-align: center;
    padding-top: 50px;
    margin-top: -16px;
}

.contacts__title {
    font-size: 34px;
    line-height: 42px;
    font-family: var(--font-family-main);
    margin-bottom: 27px;
}

.contacts__welcome {
    font-size: 18px;
    line-height: 22px;
    width: 255px;
    height: 44px;
    margin: auto;
    margin-bottom: 39px;
}

.contacts__button {
    width: 70%;
    height: 42px;
    background-color: var(--color-main-black);
    color: var(--color-bg-white);
    border-radius: 50px;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--font-family-little);
    margin-bottom: 50px;
    cursor: pointer;
}

.contacts__list-social {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;

    @include tablet {
        max-width: 70%;
    }
}

.contacts__describe-link {
    font-size: 18px;
    line-height: 22px;
    color: var(--color-dark-grey);
}

.contacts__describe-link-soc {
    margin: 0;
}

.contacts__img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}