.header {
    background-color: var(--color-bg-white);
    font-family: var(--font-family-main)
}

.header__title {
    font-size: 47px;
    line-height: 58px;
    width: 124px;
    height: 106px;

    @include tablet {
        margin: 0;
    }
}

.header__photo-demonstration {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 478px;
    background-image: url('../img/me-mobile.jpg');
    background-size: auto;
    background-repeat: no-repeat;

    @include tablet {
        margin-top: 31px;
        background-image: url('../img/me-desktop.jpg');
        width: 100%;
        max-width: 945px;
        height: 387px;
    }
}


.header__about-me {
    margin: 0;
    margin-bottom: 36px;
    font-family: var(--font-family-little);
    width: 205px;
    height: 44px;

    @include tablet {
        margin: 0;
       align-self: flex-end;
    }
}
