.header {
    background-color: var(--color-bg-white);
    font-family: var(--font-family-main)
}

.header__title {
    font-size: 47px;
    line-height: 58px;
    width: 124px;
    height: 106px;

    @include tablet {
        margin: 0;
    }
}

.header__photo-demonstration {
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;

    @include tablet {
        margin-top: 70px;
        margin-bottom: 0;
        width: 100%;
        max-width: 945px;
        height: auto;
    }

    @include laptop {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}


.header__about-me {
    margin: 0;
    margin-bottom: 36px;
    font-family: var(--font-family-little);
    width: 205px;
    height: 44px;

    @include tablet {
        margin: 0;
       align-self: flex-end;
    }
}
