.header {
    background-color: var(--color-bg-white);
    font-family: var(--font-family-main)
}

.header__title {
    font-size: 47px;
    line-height: 58px;
    width: 124px;
    height: 106px;
}

.header__photo-demonstration {
    margin-bottom: 83px;
}


.header__about-me {
    margin: 0;
    margin-bottom: 36px;
    font-family: var(--font-family-little);
    width: 205px;
    height: 44px;
}
