.nav__button {
    position: absolute;
    top: -50px;
    right: -14px;
    z-index: 2;
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.nav__closed {
    &::before {
        content: '';
        position: absolute;
        top: 35px;
        right: 30px;
        width: 20px;
        height: 20px;
        background-image: url(../img/icon-cross.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.nav__openned {
    &::before {
        content: '';
        position: absolute;
        top: 24px;
        right: 10px;
        width: 50px;
        height: 50px;
        background-image: url(../img/icon-menu.svg);
        background-size: 50px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.nav__list {
    list-style: none;
    font-size: 25px;
    line-height: 42px;
    color: var(--color-dark-grey);
}

.nav__list-element {
    cursor: pointer;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: var(--color-main-black);
    }
}


.nav__language {
    text-decoration: none;
    color: var(--color-main-black);
}
