.portfolio {
    padding-top: 50px;
    padding-bottom: 1px;
    text-align: center;
    background-color: var(--color-bg-grey);
}

.portfolio__title {
    font-size: 34px;
    line-height: 42px;
    color: var(--color-main-black);
    margin-bottom: 65px;
    font-family: var(--font-family-main);
}

.portfolio__list {
    padding: 0;
    margin: 0;
    list-style: none;    
}

.portfolio__img {
    width: 80%;
    max-width: 400px;
}

.portfolio__describe {
    font-family: var( --font-family-little);
    margin-top: 30px;
    margin-bottom: 50px;
}

.portfolio__describe-link {
    color: var(--color-bg-black);
}