.skills {
    padding-top: 50px;
    background-color: var(--color-bg-white);
    text-align: center;
}

.skills__title {
    color: var(--color-main-black);
    font-family: var(--font-family-main);
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
}

.skills__advantages {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--font-family-little);
}

.skills__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills__element {
    margin-left: 20px;
    margin-right: 20px;
}

.skills__img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
