:root {
    --color-bg-white: #ffffff;
    --color-bg-grey: #F6F6F6;
    --color-bg-grey-popup: rgba(0,0,0, 0.8);
    --color-dark-grey:  #828282;
    --color-main-black : #000000;
    --font-family-main: 'Fjalla One', 'Abril Fatface' ,sans-serif;
    --font-family-little: Roboto, 'Fjalla One';
}